<div class="LoginRegisterPage commonWidth">
    <div class="LoginRegisterPageLogo">
        <img src="assets/logo.png">
    </div>
    <div class="LoginRegisterForm">
        <h2>Sign Up</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.valid)">
            <div class="LoginRegisterInput">
                <span><img src="assets/userIcon.svg" alt=""></span>
                <input type="text" placeholder="User Name" formControlName="userName">

            </div>
            <div class="ErrorMessage" *ngIf="isSubmitted && formControls.userName.errors">
                <div *ngIf="formControls.userName.errors.required">User Name is required</div>
            </div>
            <div class="LoginRegisterInput">
                <span><img src="assets/email.svg" alt=""></span>
                <input type="text" placeholder="Email" formControlName="email">
            </div>
            <div class="ErrorMessage" *ngIf="isSubmitted && formControls.email.errors">
                <div *ngIf="formControls.email.errors.required">Email is required</div>
            </div>
            <div class="LoginRegisterInput">
                <span><img src="assets/password-Icon.svg" alt=""></span>
                <input type="password" placeholder="Password" formControlName="password">
            </div>
            <div class="ErrorMessage" *ngIf="isSubmitted && formControls.password.errors">
                <div *ngIf="formControls.password.errors.required">Password is required</div>
            </div>
            <div class="LoginRegisterInput">
                <span><img src="assets/password-Icon.svg" alt=""></span>
                <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
            </div>
            <div class="ErrorMessage" *ngIf="isSubmitted && formControls.confirmPassword.errors">
                <div *ngIf="formControls.confirmPassword.errors.required">Confirm Password is required</div>
            </div>
            <div class="ChecBoxPassword">
                <div class="customeCheckBox">
                    <input type="checkbox" id="Agree" />
                    <label for="Agree" value="true">I agree with all <a>Terms</a> and <a>Conditions</a></label>
                </div>
            </div>
            <div class="mb-5">
                <button class="buttonCSS" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="dontAccount mt-5">
            <p>Already have account? <a [routerLink]="['/sign_in']">sign in</a> </p>
        </div>
    </div>
</div>