<div class="BodyContent">
    <div class="PopupHeaderTitle text-left">
        <h2> Map Options </h2>
        <div (click)="closePopup()" class="closeIcon"></div>
    </div>
    <div class="MapTabs d-flex">
        <button [class]="isMap ? 'active' : '' " (click)="selectOption(1)"> Map</button>
        <button [class]="isSatellite ? 'active' : '' " (click)="selectOption(2)">Satellite</button>
        <button [class]="isTransit ? 'active' : '' " (click)="selectOption(3)">Transit</button>
    </div>

    <div class="MapTabContent" *ngIf="isMap">
        <ul>
            <li>
                <div class="d-flex align-items-center">
                    <h3>Traffic</h3>
                    <div class="ml-auto Switch"></div>
                    <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                </div>
            </li>
            <li class="opacity-05"><a>Mark New Site</a></li>
            <li class="opacity-05"><a>Option 2</a></li>
            <li class="opacity-05"><a>Option 3</a></li>
        </ul>
    </div>

    <div class="MapTabContent" *ngIf="isSatellite">
        <p>No Data.</p>
    </div>

    <div class="MapTabContent" *ngIf="isTransit">
        <p>No Data.</p>
    </div>
</div>