<div class="BodyContent">
    <div class="PopupHeaderTitle text-left">
        <h2> Map Options </h2>
        <div (click)="closePopup()" class="closeIcon"></div>
    </div>
    <div class="MapTabs d-flex">
        <button class="active"> Map</button>
        <button>Satellite</button>
        <button>Transit</button>
    </div>

    <div class="MapTabContent">
        <ul>
            <li>
                <div class="d-flex align-items-center">
                    <h3>Traffic</h3>
                    <div class="ml-auto Switch"></div>
                    <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                </div>
            </li>
            <li class="opacity-05"><a>Mark New Site</a></li>
            <li class="opacity-05"><a>Option 2</a></li>
            <li class="opacity-05"><a>Option 3</a></li>
        </ul>
    </div>
</div>