<div class="MarkedSite">
    <div class="markedTitle d-flex align-items-center">
        <h2>Marked Site</h2>
        <div (click)="closeMarkedSite()" class="closeIcon ml-auto"></div>
    </div>
    <div class="MarkedSiteBody">
        <div class="MarkedButton ButtonWrap">
            <button type="button" class="btn">Place an Order</button>
        </div>
        <div class="AddressContact d-flex">
            <div class="MarkedAddress">
                <small>Address</small>
                <strong>Biscayne Bay</strong>
                <strong>Miami, FL</strong>
                <strong>United States</strong>
            </div>
            <div class="MarkedContact">
                <small>Contact</small>
                <strong>John Smith</strong>
                <strong>+(509) 3333-3333</strong>
                <strong>johnsmith@gmail.com</strong>
            </div>
        </div>
        <div class="EditLocationTank">
            <ul class="d-flex">
                <li>
                    <i><img src="../../../assets/MarkedGlobal.svg" alt="" /></i>
                    <strong>Edit Site</strong>
                </li>
                <li>
                    <i><img src="../../../assets/MarkedPin.svg" alt="" /></i>
                    <strong>Edit Location</strong>
                </li>
                <li>
                    <i><img src="../../../assets/MarkedPlus.svg" alt="" /></i>
                    <strong>Add Tank</strong>
                </li>
            </ul>
        </div>
        <div class="latitudelongitude d-flex">
            <div class="Markedlatitude">
                <small>Latitude</small>
                <strong>25.7250</strong>
            </div>
            <div class="Markedlongtude">
                <small>longtude</small>
                <strong>-80.1646</strong>
            </div>
        </div>
    </div>
    <div class="MarkedTank"></div>
</div>