<div class="OuterBoxWrap">
    <!-- <div *ngIf="currentLocationIcon" class="LocationArrow" (click)="manageCurrentLocation()">
        <a *ngIf="!isCurrentLocation"><i class="far fa-location-arrow"></i></a>
        <a *ngIf="isCurrentLocation"><i class="fa fa-location-arrow"></i></a>
    </div>
    <div *ngIf="!currentLocationIcon" class="LocationArrow">
    </div> -->
    <div class="BoxHeight AddOrderPage">
        <app-add-order *ngIf="addOrder"></app-add-order>
    </div>
    <div class="BoxHeight OrderHistoryPage">
        <app-order-history *ngIf="orderHistory"></app-order-history>
    </div>
    <div class="BoxHeight ReviewOrderPage">
        <app-review-order *ngIf="reviewOrder"></app-review-order>
    </div>
    <div class="BoxHeight MapOptionsPage">
        <app-map-options *ngIf="mapOptions"></app-map-options>
    </div>
    <div class="BoxHeight MarkedSitePage">
        <app-marked-site *ngIf="markedSite"></app-marked-site>
    </div>
    <div class="BoxHeight TankDetailPage">
        <app-tank-detail *ngIf="tankDetail"></app-tank-detail>
    </div>
    <!-- <div class="OuterBoxWrap">
        <div *ngIf="slidingIcon" class="BtmFixedBoxMove"> <span></span></div>
            <div *ngIf="placeOrderButton" class="PlaceOrderBtn">
                <button class="d-flex" (click)="openAddOrder()">
                    <span><img src="assets/cart.svg" alt="" /></span>
                    <strong>Place an Order</strong>
                </button>
            </div>
        <app-checkout *ngIf="checkout"></app-checkout>
    </div>  -->
</div>