<div class="BtmFixedBox" (swipeup)="swipeUpHandler(step)" (swipedown)="swipeDownHandler(step)">
    <div class="LocationArrow">
        <a href=""><i class="fa fa-location-arrow"></i></a>
    </div>
    <div class="BtmFixedBoxWrap">
        <div *ngIf="slidingIcon" class="BtmFixedBoxMove"> <span></span></div>
        <div *ngIf="placeOrderButton" class="PlaceOrderBtn">
            <button class="d-flex" (click)="openAddOrder()">
                <span><img src="assets/cart.svg" alt="" /></span>
                <strong>Place an Order</strong>
            </button>
        </div>

        <app-add-order *ngIf="addOrder"></app-add-order>
        <app-order-history *ngIf="orderHistory"></app-order-history>
        <app-review-order *ngIf="reviewOrder"></app-review-order>
        <app-checkout *ngIf="checkout"></app-checkout>

        <!-- <div class="OrdersPage">
            <div class="OrderTitle d-flex">
                <h2> Orders </h2>
                <i class="ml-auto"><img src="../../../../assets/SearchIcon.png" alt="" /></i>
            </div>
            <div class="WhiteBox OrderBody mb-3">
                <div class="OrderBodyTitle d-flex">
                    <h3><strong>Order :</strong> #2154-8568-0214-5200</h3>
                    <h3 class="ml-auto">2 Apr 2019</h3>
                    <h3 class="w-100"><strong>Site :</strong> Yahoo.com</h3>
                </div>
                <div class="OrderProcess">
                    <ul class="d-flex">
                        <li class="CheckIcon"><span></span></li>
                        <li class="active"><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                    </ul>
                </div>
                <div class="OrderBTM d-flex">
                    <div class="ProcessIcon d-flex">
                        <i class="PendingDispatchIcon mr-3"></i>
                        <strong>Pending Dispatch</strong>
                    </div>
                    <button class="ml-auto BlueButton">More Details</button>
                </div>
            </div>
            <div class="CompletedOrders">
                <div class="OrderTitle">
                    <h2>Completed Orders</h2>
                </div>
                <div class="WhiteBox OrderBody">
                    <div class="OrderBodyTitle">
                        <h3><strong>Order :</strong> #2154-8568-0214-5200</h3>
                        <div class="d-flex mb-3">
                            <h3 class="m-0"><strong>Site :</strong> Yahoo.com</h3>
                            <a href="" class="ml-auto"><img src="../../../../assets/arrow.svg" alt="" /></a>
                        </div>
                    </div>
                    <div class="OrderBTM d-flex">
                        <div class="ProcessIcon d-flex"><i class="DeliveredIcon mr-3"></i> <strong>Delivered</strong>
                        </div>
                        <h3 class="mb-0 ml-auto">15 Nov 2019</h3>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</div>