<div class="HeaderTitle">
    <h2>Sites</h2>
</div>
<div class="HeaderRightElement">
    <ul>
        <li><a (click)="switchView()"><i class="fal fa-clone"></i></a></li>
    </ul>
</div>
<div class="SitesList BodyContent">
    <div *ngIf="siteList && siteList.length> 0">
        <div class="SitesListBox" *ngFor="let site of siteList; let i = index; ">
            <h3 (click)="viewSiteDetails(site.SiteID._text)">
                {{site.SiteName._text}}
            </h3>
            <!-- For array of tank -->
            <div class="SiteTankDetails" *ngIf="site.TankList.Tank && site.TankList.Tank.length> 0">
                <div class="SiteTankDetailsInner d-flex" *ngFor="let tank of site.TankList.Tank; let z = index; "
                    (click)="openTankDetail(site.SiteID._text,tank.TankID._text)">



                    <div class="SiteTankDetailsInnerLeft">
                        <!-- [routerLink]="['/tank', site.SiteID._text, tank.TankID._text ]" -->
                        <h4>
                            {{tank.TankName._text}}</h4>
                        <p>Item: {{tank.TankCurrentItem._text ? tank.TankCurrentItem._text : '-'}}</p>
                        <p>Density: {{tank.TankCurrentDensity._text}} kg/l</p>
                        <p>Temp: {{tank.TankTemperature._text ? tank.TankTemperature._text : '-'}}<sup>°</sup>C</p>
                    </div>
                    <div class="ListGraph">
                        <fusioncharts type="angulargauge" width="140" height="110" dataFormat="json"
                            [dataSource]=tank.chartData></fusioncharts>
                    </div>

                </div>
            </div>
            <!-- For Object of Tank -->
            <div class="SiteTankDetails" *ngIf="site.TankList.Tank && !(site.TankList.Tank.length> 0)">
                <!-- *ngFor="let tank of site.TankList.Tank; let z = index; " -->
                <div class="SiteTankDetailsInner d-flex"
                    (click)="openTankDetail(site.SiteID._text,site.TankList.Tank.TankID._text)">
                    <div class="SiteTankDetailsInnerLeft">
                        <!-- [routerLink]="['/tank', site.SiteID._text, site.TankList.Tank.TankID._text ]" -->
                        <h4>
                            {{site.TankList.Tank.TankName._text}}</h4>
                        <p>Item:
                            {{site.TankList.Tank.TankCurrentItem._text ? site.TankList.Tank.TankCurrentItem._text : '-'}}
                        </p>
                        <p>Density: {{site.TankList.Tank.TankCurrentDensity._text}} kg/l</p>
                        <p>Temp:
                            {{site.TankList.Tank.TankTemperature._text ? site.TankList.Tank.TankTemperature._text : '-'}}<sup>°</sup>C
                        </p>
                    </div>
                    <div class="ListGraph">
                        <fusioncharts type="angulargauge" width="140" height="110" dataFormat="json"
                            [dataSource]=site.TankList.Tank.chartData>
                        </fusioncharts>
                    </div>
                </div>
            </div>
            <!-- <div class="SiteTankAddress">
                <p>{{site.SiteAddressCity ? site.SiteAddressCity._text : ''}}</p>
                <p> {{site.SiteAddressRegion ? site.SiteAddressRegion._text : ''}} </p>
                <p> {{site.SiteAddressZip ? site.SiteAddressZip._text : ''}} </p>
            </div> -->
        </div>
    </div>
</div>
<!-- <div class="BtmFixedBox">
    <div class="BtmFixedBoxWrap">
        <div class="BtmFixedBoxMove"> <span></span></div>
        <div class="PlaceOrderBtn">
            <button class="d-flex" (click)="manageBootomSheet()">
                <span><img src="assets/cart.svg" alt="" /></span>
                <strong>Place an Order</strong>
            </button>
        </div>
    </div>
</div> -->
<app-bottom-sheet></app-bottom-sheet>