@media(max-width:767px){
    body{ font-size:16px;}
    .SplashScreen { padding:1rem; min-height: 100%; background-size:cover;}
    .SplashLogo {padding:2rem 0;}
    .SplashLogo img{ max-height:80px;}
    .SplashButton {padding:0; margin:0; position:sticky; top:100%; width:100%;}
    button.buttonCSS {padding:10px 15px; line-height: 1.5; font-size: 1rem;}
    .SplashButton button a { font-size:1rem;}
    .SplashButton span { font-size:1rem; padding:0 8px;}
    .SplashImg { margin:0; padding:3rem 0;}

    .LoginRegisterPage{ padding:1rem; min-height:100%; background-size:cover; background-position:50% 100%;}
    .LoginRegisterPageLogo{ padding:0 0 2rem;}
    .LoginRegisterPageLogo img{ max-height:80px;}
    .LoginRegisterForm {padding:0;}
    .LoginRegisterPage h2 {font-size:2rem; margin:0 0 20px; padding:0;}

    .LoginRegisterInput {padding:10px 10px 10px 60px; margin:0 0 1.5rem;}
    .LoginRegisterInput span {left:1.5rem; width:20px; margin:-1px 0 0;}
    .LoginRegisterInput span img{width:20px;}
    .LoginRegisterInput input { line-height:1.5; font-size:1rem; padding:0; font-weight:400;}
    .LoginRegisterInput input::-webkit-input-placeholder { font-size:1rem;}
    .LoginRegisterInput input::-moz-placeholder { font-size:1rem;}
    .LoginRegisterInput input:-ms-input-placeholder { font-size:1rem;}
    .LoginRegisterInput input:-moz-placeholder { font-size:1rem;}

    .ChecBoxPassword { display:flex; flex-wrap:wrap; margin:0 0 2rem .8rem;}
    .ForgotPassword a {font-size:.9rem;}
    [type=checkbox]:not(:checked) + label, [type=checkbox]:checked + label {padding-left:2.6rem; line-height:28px; 
        font-size:.9rem;}
    [type=checkbox]:not(:checked) + label:before, [type=checkbox]:checked + label:before {width: 28px; height: 28px;}
    [type=checkbox]:not(:checked) + label:after, [type=checkbox]:checked + label:after {top: 4px; left: 11px; width: 7px; height: 15px; border-width: 0 2px 2px 0;}

    .SignUpGoogle a span img {max-height:54px;}
    .SignUpGoogle a span { margin:0 1.1rem 0 0;}
    .SignUpGoogle a strong {font-size: 1rem;}
    .dontAccount { padding:0; position: sticky; top:100%; left:0;}
    .dontAccount p a, .dontAccount p { font-size: 1rem;}
    .SignUpGoogle {margin:2rem 0 0;}
    .ForgotPassword {margin:0;}

}