@media(max-width:767px){
    body{ font-size:16px;}
    .SplashScreen { padding:1rem; min-height: 100%; background-size:cover;}
    .SplashLogo {padding:2rem 0;}
    .SplashLogo img{ max-height:80px;}
    .SplashButton {padding:0; margin:0; position:sticky; top:100%; width:100%;}
    button.buttonCSS {padding:10px 15px; line-height: 1.5; font-size: 1rem;}
    .SplashButton button a { font-size:1rem;}
    .SplashButton span { font-size:1rem; padding:0 8px;}
    .SplashImg { margin:0; padding:3rem 0;}

    .LoginRegisterPage{ padding:1rem; min-height:100%; background-size:cover; background-position:50% 100%;}
    .LoginRegisterPageLogo{ padding:0 0 2rem;}
    .LoginRegisterPageLogo img{ max-height:80px;}
    .LoginRegisterForm {padding:0;}
    .LoginRegisterPage h2 {font-size:1.4rem; margin:0 0 1rem; padding:0;}

    .LoginRegisterInput {padding:10px 10px 10px 60px; margin:0 0 1.5rem;}
    .LoginRegisterInput span {left:1.5rem; width:20px; margin:-1px 0 0;}
    .LoginRegisterInput span img{width:20px;}
    .LoginRegisterInput input { line-height:1.5; font-size:1rem; padding:0; font-weight:400;}
    .LoginRegisterInput input::-webkit-input-placeholder { font-size:1rem;}
    .LoginRegisterInput input::-moz-placeholder { font-size:1rem;}
    .LoginRegisterInput input:-ms-input-placeholder { font-size:1rem;}
    .LoginRegisterInput input:-moz-placeholder { font-size:1rem;}

    .ChecBoxPassword { display:flex; flex-wrap:wrap; margin:0 0 2rem .8rem;}
    .ForgotPassword a {font-size:.9rem;}
    [type=checkbox]:not(:checked) + label, [type=checkbox]:checked + label {padding-left:2.6rem; line-height:28px;
        font-size:.9rem;}
    [type=checkbox]:not(:checked) + label:before, [type=checkbox]:checked + label:before {width: 28px; height: 28px;}
    [type=checkbox]:not(:checked) + label:after, [type=checkbox]:checked + label:after {top: 4px; left: 11px; width: 7px; height: 15px; border-width: 0 2px 2px 0;}

    .SignUpGoogle a span img {max-height:54px;}
    .SignUpGoogle a span { margin:0 1.1rem 0 0;}
    .SignUpGoogle a strong {font-size: 1rem;}
    .dontAccount { padding:3rem 0 0; position: sticky; top:100%; left:0;}
    .dontAccount p a, .dontAccount p { font-size: 1rem;}
    .SignUpGoogle {margin:2rem 0 1rem;}

    .NavigationIcon {width:40px; height:40px; box-shadow:none;}
    .NavigationUser {padding: 1rem;}
    .EditProfile span,
    .NavigationUser span {width:80px; height:80px; margin:0 1rem 0 0;}
    .UserName h3 {font-size: 1.4rem;}
    .UserName h4 {font-size: 1rem;}
    .EditProfileIcon,
    .NavigationUser span small {width:34px; height:34px; font-size:1rem; line-height:34px;}
    .NavigationUL ul li a span {font-size:1.2rem; line-height:1.5;}
    .NavigationUL ul li a i {width: 2rem; font-size:1.2rem; line-height:1.5;}
    .NavigationUL ul li a { font-size:1.3rem; line-height:50px;}
    .NavigationUL { height:calc(100% - 112px);}
    .NavigationUL ul li.SettingNav i { background-size:20px auto; background-position: 0 50%; height:20px; top:3px;}
    body p-sidebar .ui-sidebar { max-width:290px;}
    .HeaderBar {padding:.5rem;}
    .HeaderRightElement ul li a { width:40px; height:40px; font-size:1.1rem; line-height:40px; box-shadow:none;}
    .HeaderTitle {top: 16px; left: 50%; padding: 0;}
    .NavigationIcon span:before, .NavigationIcon span:after { height:2px;}
    .NavigationIcon span:before {top:-6px;}
    .NavigationIcon span:after {bottom:-6px;}
    .NavigationIcon span { width:18px; height:2px;}
    .PopupHeaderTitle h2, .HeaderTitle h2 {font-size:1.25rem; line-height:1.5rem;}
    .BtmFixedBoxWrap {padding:0 1rem; height:100%;}

    .PlaceOrderBtn button img { width:auto; height:20px; margin:1px 0 0;}
    .PlaceOrderBtn button {border-radius: 4px; padding:.2rem .5rem 0.1rem .7rem;}
    .PlaceOrderBtn button strong { font-size:1rem; line-height:2rem;}
    .BtmFixedBoxMove span {width: 40px; height:5px;}
    .bottomSheet3 .BtmFixedBoxMove,
    .BtmFixedBoxMove { padding:.5rem 0; z-index:2; position:sticky;}
    .OrderTitle h2 {font-size:1.2rem;}
    .OrderTitle i img{ max-height:20px;}
    .SitesList {padding: 0 1rem; height: calc(100% - 136px); min-height: calc(100% - 136px);}
    .SitesListBox {padding: 1rem 0; margin: 0;}
    .SitesList h3 {font-size:1.25rem; margin:0 0 .5rem;}
    .SiteTankDetails p { padding:0 0 .4rem.5rem; font-size:.9rem; line-height:1.5;}
    .SiteTankDetailsInnerLeft{ width:50%;}
    .SiteTankDetailsInnerLeft h4, .SiteTankDetailsInnerLeft {padding: 0;}
    .SiteTankDetails h4 {font-size: 1rem; line-height: 1.5;}
    .bottomSheet1 { height:125px;}
    .LocationArrow{ height:40px; margin:0 0 .625rem; padding:0 1rem;}
    .OrderTitle {margin:0 0 .5rem;}
    .WhiteBox {margin:0 0 1.25rem !important; padding: 1rem;}
    .OrdersPage h3 strong { font-size:1rem;}
    .OrdersPage h3 { line-height: 1.2;  margin:0 0 .8rem; font-size: .9rem;}
    .SiteTankAddress p {font-size: 1rem; line-height:1.5;}
    .HeaderRightElement {top: 11px; right: 15px;}
    .OrderProcess ul li span { width:30px; height:30px; background-size:30px !important;}
    .OrderProcess ul li { width:calc(33.33% - 12px);}
    .OrderProcess ul li:last-child { width:28px;}
    .ProcessIcon strong {font-size:1rem;}
    .PendingDispatchIcon { background-size:40px 35px !important; width:60px; height:35px;}
    .OrderProcess { margin:.5rem 0 1rem;}
    .BlueButton {border: 2px solid #00197f; font-size: 1rem; line-height:1.5; padding:.3rem 1.2rem;}
    .ProcessIcon {width:50%;}
    .DeliveredIcon{ background-size:28px 28px; width:28px; height:28px;}
    .OrderBodyTitle a img{ max-height:23px;}
    .OrderBodyTitle .d-flex.mb-3{ margin-bottom:1rem !important;}
    .HeaderRight {width:40px;}
    .HeaderRight ul li a {line-height:normal; font-size:1rem; padding:10px 0 5px 0;}
    .QuestionIcon { padding:0 0 6px;}
    .QuestionIcon span {width:24px; height:24px; line-height:22px; font-size:.7rem; border:1.5px solid #2e3192; color:#2e3192;}
    .LocationArrow a {line-height: 40px; width:40px; height:40px; font-size:1rem;}
    .closeIcon {width:30px; height:30px;}
    .closeIcon:before, .closeIcon:after { height:18px; width:2px; margin:-9px 0 0;}
    .MapTabs button {font-size:1rem;}
    html body .ui-inputswitch { width:42px; height:28px; vertical-align:top;}
    html body .ui-inputswitch .ui-inputswitch-slider:before { height:22px; width:22px; left:3px; bottom:3px;}
    html body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {transform: inherit; right: 3px; left: auto;}
    .MapTabContent ul li h3 {font-size: 1.25rem; line-height: 38px;}
    .MapTabContent ul li a {line-height:26px; font-size:1rem;}
    .MapTabContent ul li {padding:.5rem 0;}

    .EditAccount { padding: 1rem;}
    .TankTitle h2,
    .EditAccount h2 {font-size:1.2rem; line-height:normal; color:#333; font-weight:700;}
    .EditAccount i {margin:0 0 0.3rem;}
    .EditInput {padding:.5rem 1rem;}
    .EditInput i{line-height:1;}
    .EditInput input, .EditInput .prfl,
    .EditInput label {font-size:1rem; line-height:1.5;}
    .EditInput > .d-flex { margin-bottom:0;}
    .EditInput h4 {line-height: 1.5; font-size:1rem;}
    .EditProfileIcon i { line-height:34px; font-size:1rem;}
    .EditProfile { padding:1rem;}
    .EditAccountContent .ButtonWrap { padding:0 1rem;}
    .ButtonWrap button {font-size: 1rem; padding:.875rem 1rem; line-height: 1;}
    .EditAccountContent { height:calc(100vh - 88px); padding-bottom:.5rem;}
    .EditInput.mb-3{ margin-bottom:1rem !important;}
    body .SelectWrap {margin-bottom:2rem !important;}
    body .SelectWrap .ui-dropdown {font-size: 1rem; line-height: 1; padding:1rem 1.5rem; border-radius: 100px;}
    body .SelectWrap .ui-dropdown .ui-dropdown-label {font-size:1rem;}
    body .SelectWrap .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon { font-size: 1.2rem;}
    .InputWrap.InoutleftIcon:before {height: 28px;}
    .InputWrap.InoutleftIcon input{ line-height:1; padding:0.718rem 1.5rem 0.72rem 4.4rem; border-radius:100px; font-size:1rem;}
    .InputWrap.InoutleftIcon span.InputIcon img {width: 1.1rem; height: 1.1rem;}
    .InputWrap.InoutleftIcon span.InputIcon {left:1.4rem;}
    .InputWrap.InoutleftIcon:before {width: 2px; height: 28px; left: 3.4rem;}
    .InputWrap.InoutRightIcon span.InputIcon {right: 2rem;}
    .InputWrap.InoutRightIcon span.InputIcon img { width: 18px;}
    .InputWrap.InoutRightIcon input{padding: 0.718rem 4.4rem 0.72rem 1.8rem;}
    body .InputWrap .ui-inputtext{line-height: 1; padding: 0.718rem 4.4rem 0.72rem 1.8rem; border-radius: 100px; font-size: 1rem;}
    .InputWrap.mb-3{ margin-bottom:2rem !important;}
    body .SelectWrap .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item, body .SelectWrap .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group {font-size: 1rem;}
    .errorMsg {font-size: .9rem;}
    .TankTitle { margin:0 0 .8rem;}
    .TankSubTtile {padding:0 0 .8rem 0; }
    .TankSubTtile h3 { font-size: 1rem;}
    .LevelDensity h2 {padding:0 0 1rem; font-size: 1rem;}
    .TankLevel h3 {padding:.5rem 0 0 0.5rem; font-size: 1rem;}
    .LevelDensityBody{ padding:1rem;}
    .PlaceOrderBtn button span { margin:-1px 10px 0 0;}
    .AddOrderPage form { height: calc(100% - 15px);}
    .TankIn {top: 0; left: 0; margin:0; padding:0; font-size:1rem; position:relative; transform: initial;}
    .TankGal { left:0; transform:translateY(-50%); font-size:1rem; margin:0;}
    .informationNotes h2 {padding: 0 0 1rem; font-size: 1.2rem;}
    .InformationNotesBody { padding:1rem;}
    .InformationNotesBody ul li { font-size:1rem; line-height:2; }
    .InformationDiv + .InformationDiv { border-left:0; padding-top:1rem;}
    .InformationNotesBody textarea{ font-size:1rem; line-height:2;}
    .WhiteBoxScroll fusioncharts{ min-width:800px;}

    .BackButton img {width: 26px; height: auto;}
    .SearchButton img {width: 26px; height: auto;}
    .ReviewOrderText label {padding:.5rem 1rem; font-size: 1rem; font-weight: 500; line-height: 1.5;}
    .ReviewOrderText span {padding:.5rem 1rem; font-size: 1rem; font-weight: 400; line-height: 1.5;}
    .TotalBox { margin:0 0 1rem;}
    .TotalBox ul li { padding:.5rem;}
    .TotalBox ul li span { font-size:1rem;}
    .TotalBox ul li strong {font-size: 1rem; line-height: 1.5;}
    .ReviewOrderListUl {height:calc(100% - 230px);margin: 0 0 1rem;}
    .ReviewEditDelete { bottom:-20px;}
    .ReviewEditDelete i { width: 40px; height: 40px; line-height:40px; margin:0 .5rem; font-size:1rem;}
    .ReviewOrderListBox {margin: 0;}
    .ReviewOrderText {display: flex; align-items: center;}
    .ReviewOrderTextLast{ padding-bottom:2rem;}
    .markedTitle h2 { font-size:1.2rem; margin:0;}
    .markedTitle { padding:0 0 1rem;}
    .AddressContact small {font-size:1rem; line-height:1.5;}
    .AddressContact strong { font-size:.8rem; line-height:1.5; word-break: break-all;}
    .EditLocationTank ul li strong {font-size:.8rem;}
    .EditLocationTank ul li i img { max-height:20px;}
    .EditLocationTank ul li {width:calc(33.33% - 10px); margin:0 5px; padding:.5rem .2rem;}
    .EditLocationTank ul li i { margin:0 0 .1rem;}
    .latitudelongitude small {font-size: 1rem; line-height: normal;}
    .latitudelongitude strong {font-size:.8rem;}
    .EditLocationTank ul { margin:0 -10px;}
    .AddressContact { margin:0 0 1rem;}
    .EditLocationTank { margin:0 0 1rem;}
    .latitudelongitude {padding:0 0 1rem;}
    .MarkedTank { padding:1.5rem 0 0;}
    .bottomSheet3 .BtmFixedBoxWrap {height:100%;overflow: visible;}
    .ErrorMessage {bottom:-22px; left:25px;}
    .bottomSheet3 .PlaceOrderBtn { top:21px;}
    .PlaceOrderBtn:before { content:''; background:#fff; position:absolute; top:-21px; left:-1rem; width:calc(100% + 2rem); height:80px; display:block; z-index:0; border-radius:6px 6px 0 0;}
    .WhiteBoxScroll{ overflow:auto;}
    .PopupHeaderTitle { padding:1rem 0;}
    .bottomSheet3 .OrdersPage {height: calc(100vh - 132px);overflow: auto;display: block;}
    .bottomSheet3 app-order-history {height: 100%;display: block;}
    .bottomSheet3 .ScrollAuto {height: 100%;}
    .bottomSheet3 .BtmFixedBoxWrap {height: 100%;overflow: hidden;}
    .bottomSheet3 {height: calc(100% - 40px);padding-top: 0;}
    .MarkedSite { overflow:auto; height:calc(100% - 10px);}
    .MarkedButton { margin:0 0 20px;}
    .raphael-group-17-caption text {fill: #2e3192 !important; font-size:15px !important;}
    .SiteTankDetailsInner + .SiteTankDetailsInner { margin-top:0; border-top:1px solid #eee; padding:10px 0 0;}
    .Density .LevelDensityBody fusioncharts>div>span{width:100% !important;}
    .MarkedSite  .MarkedTank .ListGraph { margin:-10px 0 0 auto;}
    .HeaderRight ul li:nth-child(1) a i { font-size:1.2rem;}
}


@media(max-width:439px){
    .LevelDensity{ flex-wrap:wrap;}
    .Density, .TankLevel { width:100%;}
    .InformationDiv { width:100%;}
    .informationNotes{ flex-wrap:wrap;}
    .TankLevel .LevelDensityBody {padding:0; margin:0; overflow:auto;}
    .MarkedTank .SiteTankDetailsInner{ flex-wrap:wrap;}
    .BodyContent {overflow: auto;}

}

@media(max-width:439px){
    .bottomSheet2 { height:400px;}
    .Density, .TankLevel {width: 50%;}
    .Density svg {transform: scale(0.7);right: 40px !important;left: auto !important;}
    .TankLevel svg {transform: scale(0.7);right: 40px;top: -40px !important;}
    .TankGal {font-size: 11px;}

    .TankLevel h3 {font-size: 12px;}
    .BtmFixedBoxWrap.one-wrap .ScrollAuto {height: 100%;}

}

@media (min-width:360px) and (max-width:400px){
    .Density svg {transform: scale(0.6);right: 50px !important;}
}

@media(max-width:450px){
    .bottomSheet2 { height:430px;}
}
@media(max-width:350px){
    .bottomSheet2 { height:470px;}
    .PendingDispatchIcon {background-size: 32px 35px !important;}
    .Density svg {transform: scale(0.55);right: 65px !important;left: auto !important;top: -30px !important;}
    .TankLevel svg {transform: scale(0.6);right: 70px;top: -50px !important;}
}